@media screen and (min-width: 72ch) {
  .page-header--index {
    .page-header__logo {
      display: none;
    }
  }
}

.index-header {
  margin-bottom: 2rem;

  @media screen and (min-width: 72ch) {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 3rem;
  }
}

.index-header__logo {
  display: none;
  @media screen and (min-width: 72ch) {
    display: block;
    max-width: 200px;
    max-height: 160px;
    width: auto;
    height: auto;
  }
}

.index-header__title {
  font-size: var(--step-3);
}

.index-logos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  gap:1rem;
  align-items: center;

  img {
    max-width: 100%;
  }
}
