.menu-page-header {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.menu-page-header__title {
  margin-left: 2rem;
  font-size: var(--step-4);
	line-height: 1;
}

.menu-page__nav {
  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
  }

  a:hover {
    border-bottom: 2px solid var(--accent-color);
  }
}

.menu-page__nav li:nth-child(2) a{
  background-color: var(--accent-color);
  color: var(--white-color);
  border-radius: 6px;
}

.menu-page__nav li:last-child {
  a:link,
  a:visited {
    color: var(--green-color);

    &:hover,
    &:active {
      color: var(--green-color);
      border-bottom: 2px solid var(--green-color);
    }
  }
}
