.page-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  @media screen and (min-width: 72ch) {
    margin-bottom: 4rem;
  }
}

.page-header nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.page-header nav a {
  text-decoration: none;
  font-weight: bold;
}

.page-header nav a:hover {
  border-bottom: 2px solid var(--accent-color);
}

.page-header__logo {
  display: block;
  max-height: 5rem;
  margin-right: 1rem;
}

.page-header__nav--wide {
  display: none;
}

.page-header__nav--wide a {
  padding: 0.5rem;
}

.page-header__nav--wide li:nth-child(3) a {
  background-color: var(--accent-color);
  color: var(--white-color);
  border-radius: 6px;
}

.page-header__nav--wide li:last-child {
  a:link,
  a:visited {
    color: var(--green-color);

    &:hover,
    &:active {
      color: var(--green-color);
      border-bottom: 2px solid var(--green-color);
    }
  }
}

@media screen and (min-width: 72ch) {
  .page-header__nav--wide {
    display: block;
  }

  .page-header__nav {
    display: none;
  }
}
