$accent-color: rgb(41, 104, 109);

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

a:link,
a:visited {
  color: $accent-color;

  &:hover,
  &:active {
    color: $accent-color;
  }
}


main {
  margin-bottom: 3rem;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.page-header__nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.page-header__nav a {
  text-decoration: none;
  font-weight: bold;
}

.page-header__nav a:hover {
  border-bottom: 2px solid $accent-color;
}

.page-footer {
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    text-align: center;
  }

  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
