<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {% if page.title %} {{ page.title }} | {% endif %} National Action Group
      for LGBT+ Traveller and Roma Rights
    </title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <header class="page-header">
      <nav class="page-header__nav--wide">
        {% set nav = get_page(path="menu.md") %} {{ nav.content | safe }}
      </nav>
      <nav class="page-header__nav">
        <ul>
          <li> <a href="/menu">Menu</a> </li>
          <li> <a href="https://www.google.ie/search?q=dublin">Exit</a> </li>
        </ul>
      </nav>
    </header>

    <main>
      {% block content %} {% endblock %}
    </main>

  <footer class="page-footer">
    <p>Community Pride, Family Pride, LGBTQ+ Pride, Traveller & Roma Pride</p>
    <ul>
      <li><a href="https://twitter.com/exchangehouseir">Twitter</a></li>
      <li><a href="https://www.facebook.com/exchangehouseireland/">Facebook</a></li>
      <li><a href="https://www.linkedin.com/company/exchange-house-ireland/">LinkedIn</a></li>
      <li><a href="https://www.instagram.com/exchangehouseir/">Instagram</a></li>
    </ul>
  </footer>
  </body>
</html>
