<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>National Action Group for LGBT+ Traveller and Roma Rights</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>National Action Group for LGBT+ Traveller and Roma Rights</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/actions">What We Do</a></li>
        <li><a href="/get-support">Get Information & Support</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <p>
      The National Action Group for LGBT+ Traveller and Roma Rights was formed
      in 2016, to advance greater awareness, understanding and inclusion of
      LGBT+ Travellers and Roma.
    </p>

    <p>
      National Action Group members are from Traveller organisations, National
      LGBT+ organisations along with regional representation and LGBT+ Traveller
      reps. The National Action Group works from Human Rights and Community
      Development principles.
    </p>

    <p>
      Aims of the National Action Group for LGBT+ Traveller and Roma Rights:
    </p>

    <ul>
      <li>
        Promote and support the inclusion of LGBT+ Travellers and Roma needs and
        issues at local level
      </li>
      <li>
        Promote and support the inclusion of LGBT+ Travellers and Roma needs and
        issues within Traveller and Roma services an
      </li>
      d organisations, as well as LGBT+ service and organisations.
      <li>
        To develop tools and resources- including training, guides, videos,
        research etc- to equip all relevant communities a
      </li>
      nd services to understand the needs and issues of LGBT+ Traveller & Roma
      and how best to support
      <li>
        To provide a platform to improve greater visibility and participation of
        LGBT+ Travellers and Roma in the Action Grou
      </li>
      p, its activities, and its advocacy direction
      <li>
        To promote greater visibility and participation of LGBT+ Traveller and
        Roma in Traveller and Roma services and in LGB
      </li>
      T+ organisations
      <li>
        Ultimately to create the specific supports and interventions which LGBT+
        Travellers and Roma need in order for them t
      </li>
      o live full lives, enjoying positive mental health and well-being,
      exercising their full human rights and experiencing full equality.
    </ul>

    <img
      src="/banner.png"
      alt="Illustration of rainbow colored individuals standing in front of a home"
    />
  </body>
</html>
