<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>National Action Group for LGBT+ Traveller and Roma Rights</title>
  </head>
  <body>
    <h1>National Action Group for LGBT+ Traveller and Roma Rights</h1>
  </body>
  <style>
    html {
      max-width: 70ch;
      padding: 3em 1em;
      margin: auto;
      line-height: 1.75;
      font-size: 1.25em;
      font-family: sans-serif;
    }
  </style>
</html>
