{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}
<h1>{{ section.title }}</h1>
<ul class="card-list">
  {% for post in section.pages %}
  <li class="card">
    <a href="{{ post.permalink }}">
      {{macros::image(path=post.extra.image, width=300)}}
      <div class="card__text_wrapper">
        <span class="card__title">{{ post.title }}</span>
        <p class="card__summary">{{ post.extra.summary | markdown | safe }}</p>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
{% endblock content %}
